 body {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family:'Comic Sans MS';
  }

  * {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
  }

  h1{
      text-align: center;
      margin-bottom: 90px;
  }

 .tasks{
    display: flex;
    flex-wrap: wrap;
  }

  div{
      width: 470px;
      height: fit-content;
      background-color: rgb(123, 201, 177);
      border-radius: 20px;
      margin-bottom: 20px;
      outline-style: dotted;
      outline-color:rgb(210, 228, 213);
      outline-width:4px;
  }

  input{
    border: 3px solid #cf5eca;
    background:rgb(230, 218, 229);
    border-radius: 18px;
    outline-color: rgb(141, 19, 131);
    color: #249433; 
    font-family: "URW Chancery L, cursive";
    font-weight: 700;
  }

  input[type="number"]{
    width: 40px;
  }
  input[type="text"]{
    width: 150px;
  }

  output{
    width: 450;
    color: #862abb; 
    font-family: "Comic Sans MS";
    font-weight: 700;
    text-shadow: none;
    font-size: 16;
    word-break: normal;
  }

  #formula_output{
    word-break: break-all;
  }

  table{
    color: #862abb; 
    font-family: "Comic Sans MS";
    font-weight: 700;
    text-shadow: none;
    font-size: 16; 
    margin: auto;
  }

  

  button{
    width: max-content;
    height: 30px;
    font-size: 14px;
    background-color: rgb(231, 199, 226);
    border: 2px solid #cf5eca;
	border-radius: 50%;
    touch-action: manipulation;
    cursor: pointer;
    box-shadow: 0 5px rgb(167, 37, 156);
    outline-color: rgb(141, 19, 131);
  }

  button:hover {
    background-color: #cf5eca;
  }

  button:active {
    background-color: #cf5eca;
    box-shadow: 0 1px rgb(167, 37, 156);
    transform: translateY(4px);
  }


  article {
    flex: 1 200px;
  }
  
  article:nth-of-type(3) {
    flex: 2 200px;
  }






